#test {
	background:#f7f5f2;
	padding-bottom:80px;
}
	
.toolbar {
	height:50px;
	width:100%;
	background:#e5dcc2;
	background: -webkit-linear-gradient(left, #e5dcc2, #e7e4d9,#e5dcc2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #e5dcc2, #e7e4d9,#e5dcc2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #e5dcc2, #e7e4d9,#e5dcc2t); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #e5dcc2, #e7e4d9,#e5dcc2); /* Standard syntax (must be last) */
}
			
.toolbar p {
	margin: 11px 18px 0 0;
	float:right;
	font-size: 25px;
	color: #fff;
}
		
span.gold {
	color:#c9b779;
}
		
.number {
	font-size: 14px;
	float: right;
	margin-top:15px;
}	
		
.test-header-text h2 {
	color: #979797;
	float: left;
	margin: 60px 0 0 0px;
}
			
.test-header .workstation-logo {
	width: 80px;
	margin: 50px 0 0 15px;
	float:left;
}
		
.test-header-text .transtar-logo-test {
	width: 49px;
	margin: 60px 0 0 0;
	float:right;
}
	
.test-header-text {
	height:120px;
	border-bottom: 1px solid #979797;
	width:89%;
	float:right;
	margin-right:15px;
}

@media only screen and (max-width: 1200px) {
	.test-header-text {
		height:120px;
		width:87%;
	}
}	

@media only screen and (max-width: 992px) {
	.test-header-text {
		height:120px;
		width:83%;
	}
}	

@media only screen and (max-width: 768px) {
	.test-header-text {
		height:85px;
		width:345px;
	}
	
	.test-header-text .transtar-logo-test {
		display: none;
	}
	
	.test-header .workstation-logo {
		width: 60px;
		margin: 30px 0 0 15px;
	}

	.test-header-text h2 {
		font-size: 35px;
		margin: 45px 0 0 0px;
	}
}	

@media only screen and (max-width: 480px) {
	.test-header-text {
		height:75px;
		width:255px;
	}
	
	.test-header-text .transtar-logo-test {
		display: none;
	}

	.test-header .workstation-logo {
		width: 60px;
		margin: 30px 0 0 15px;
	}

	.test-header-text h2 {
		font-size: 26px;
		margin: 45px 0 0 0px;
	}
	
	.toolbar p {
		margin: 15px 18px 0 0;
		font-size: 18px;
	}
}	
		
#quiz-test .answer-wrap {
	display:flex;
}
	
#quiz-test .paragraph {
	flex: 1;
}

#quiz-test .circle {
	width: 54px;
	height: 54px;
  	-webkit-border-radius: 27px;
  	-moz-border-radius: 27px;
   	border-radius: 27px;
   	border: 1px solid #979797;
}

#quiz-test .question-wrap p, #quiz-test p.answer-text {
  	font-family:'Avant Garde Book', Arial, Helvetica, sans-serif;
  	font-size: 20px;
}



@media only screen and (max-width:992px) {
	#quiz-test img.img-responsive {
		margin:0 0 20px 0;
	}
}

@media only screen and (min-width:992px) {
	#quiz-test .h-10-hide {
		display: none;
	}
}

#quizzie p {
	display: block;
  	width: auto;
  	margin: 14px 0 0 10px;
}

#quizzie .alert.alert-danger p{
	color:#a94442;
	margin:0!important;
}

.congrats p {
	font-size: 20px;
}

#quiz-test h1 {
	font-family:'Avant Garde Medium', Arial, Helvetica, sans-serif;
	display: block;
  	width: auto;
  	margin: 14px 0 0 10px;
	font-size: 29px;
	color: #979797;
}

.congrats {
	margin-top: 38px;
}
	
.congrats img {
	width: 596px;
}
		
.congrats a {
	font-size: 12px;
	color: #979797;
	margin-right: 15px;
	text-decoration: underline;
}

.tweet {
	font-family:'Avant Garde Medium', Arial, Helvetica, sans-serif;
    background: #4ca1ec;
    padding: 7px 10px 2px 10px;
    border-radius: 0;
    color: #fff;
	font-size: 18px;
	margin-top:20px;
}

.tweet:hover,
.tweet:focus {
    background: #3881c2;
	color: #fff;
}

.share {
	font-family:'Avant Garde Medium', Arial, Helvetica, sans-serif;
    background: #425a94;
    padding: 7px 10px 2px 10px;
    border-radius: 0;
    color: #fff;
	font-size: 18px;
	margin-top:20px;
}

.share:hover,
.share:focus {
    background: #2a3c68;
	color: #fff;
}

#quiz-test {
  	padding: 0;
  	text-align:center;
}

#quiz-test img.logo {
	padding: 0 0 1.5% 40px;
}

#quiz-test ul {
  	list-style: none;
  	margin: 0 auto;
  	overflow: hidden;
  	display: none;
}

#quiz-test ul.current {
  	display: inline;
}

#quiz-test ul li {
  	overflow: auto;
  	text-align: left;
}

#quiz-test ul li.quiz-answer {
  	display:block;
  	cursor: pointer;
  	margin: -25px 0;
}

#quiz-test ul li.question {
  	display: block;
  	float: none;
  	width: 100%;
  	text-align: left;
  	margin: 0;
}

#quiz-test ul li.results-inner {
  	display: block;
  	float: none;
  	width: 100%;
  	text-align: center;
  	margin: 0;
}

#quiz-test ul li:last-child {
  	margin-right: 0;
}

#quiz-test .question-wrap, #quiz-test .answer-wrap {
  	padding: 0.75%;
  	margin: 1em 0;
}

#quiz-test .answer-wrap {
  	border: 1px solid #979797;
  	-moz-transition: background-color 0.5s ease;
  	-o-transition: background-color 0.5s ease;
  	-webkit-transition: background-color 0.5s ease;
  	transition: background-color 0.5s ease;
}

#quiz-test .answer-wrap:hover {
	background: #c9b779;
	background: -webkit-linear-gradient(30deg, #c9b779, #dfd2a7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(30deg, #c9b779, #dfd2a7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(30deg, #c9b779, #dfd2a7); /* For Fx 3.6 to 15 */
    background: linear-gradient(30deg, #c9b779, #dfd2a7); /* Standard syntax (must be last) */
	color: #fff;
}

#quiz-test .container-fluid {
	padding: 0;
}