/* Table of Content
==================================================
	- Fonts -
	- General -
    - Typography -
    - Preloader -
	- Header -
    - Intro section -
    - Block section -
    - Footer -
	- Back to Top -
    - Join page -
    - Article page -
    - Responsive media queries -
	- Weather -
	- Modal -
	- Bootstrap Overrides -
*/


/* Fonts
==================================================*/

@font-face {
    font-family: Avant Garde Book;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/ITCAvantGardeStd-Bk.eot");
    src: url("../fonts/ITCAvantGardeStd-Bk.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Bk.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Bk.ttf") format("truetype")
}
@font-face {
    font-family: Avant Garde Medium;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/ITCAvantGardeStd-Md.eot");
    src: url("../fonts/ITCAvantGardeStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Md.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Md.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Md.ttf") format("truetype")
}


/* General
==================================================*/

html,
body {
    height: 100%;
    font-family:'Avant Garde Book', Arial, Helvetica, sans-serif;
	font-size: 16px;
    color: #979797;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s
}

.uppercase {
    text-transform: uppercase;
}

.h-30 {
    height: 30px
}

.h-20 {
    height: 20px
}

.h-10, .h-10-hide  {
    height: 10px
}

.color {
    color: #ffbf00;
    font-size: 11px;
}


/* Typography
==================================================*/

h1 {
    color: #fff;
    font-size: 66px;
}

h2 {
    color: #000;
    font-size: 48px;
}

h3 {
    color: #c9b779;
	font-size: 18px;
}

h5 {
    color: #fff;
}

.grey {
	color: #979797;
}

.bold {
	font-family:'Avant Garde Medium', Arial, Helvetica, sans-serif;
}


/* Preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    /* change if the mask should be a color other than white */
    z-index: 1000;
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
	background: url(../img/transtar-loader.png);
    background-size: 40px 40px;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* Header
==================================================*/

.prey-header {
	position: fixed;
	height:80px;
	width:100%;
	background:#000;
	z-index:5000;
	
	}
	
.prey-header .prey-logo {
	width: 119px;
	margin: 26px 0 0 21px;
	float:left;
}
		
.prey-header .prey-coming {
	width: 373px;
	margin: 33px 0 0 21px;
	float:right;
}
		
.prey-header .prey-boxshots {
	width: 106px;
	margin: 6px 0 0 21px;
	float:right;
}
		
.prey-header .prey-preorder {
	width: 121px;
	margin: 0 21px 0 21px;
	float:right;
}
		
		
@media only screen and (max-width: 900px) {
	.prey-header .prey-coming {
		display: none;
	}
}
		
@media only screen and (max-width: 480px) {
	.prey-boxshots, .arkane-logo, .bethesda-logo {
		display: none;
	}
}
		
.prey-footer {
	height:50px;
	width:100%;
	background:#000;
	z-index:5000;
}
	
.prey-footer .prey-logo {
	width: 119px;
	margin: 12px 0 0 21px;
	float:left;
}
		
.prey-footer .arkane-logo {
	width: 90px;
	margin: 15px 0 0 18px;
	float:right;
}
		
.prey-footer .bethesda-logo {
	width: 95px;
	margin: 16px 21px 0 21px;
	float:right;
}
		
.transtar-footer {
	height:95px;
	width:100%;
	background:#fff;
	z-index:5000;
}
	
.transtar-footer .copyright {
	margin: 20px 0 0 21px;
	float:left;
	font-size:11px;
	color:#c9b779;
}
		
.transtar-footer .copyright img {
	width: 99px;
	padding-bottom:8px;
}
		
.transtar-footer ul {
	margin: 20px 21px 0 0;
   	float:right;
}
		
.transtar-footer .social {
    display: inline-block;
    margin: 10px .4em;
}

.transtar-footer .social a {
    width: 26px;
    height: 26px;
    padding: 0;
    font-size: 26px;
	color:  #c9b779;
}

.box-header {
    position: absolute;
    top: 80px;
    left: 0;
    height: 80px;
    width: 100%; 
}

.box-header.is-fixed {
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
	z-index: 1000;
}

.box-header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
	z-index: 1000;
}

.box-logo {
    display: block;
    padding: 25px 20px 20px 20px;
}

.date {
	position: absolute;
    top: 0;
	margin: 32px 0 0 245px;
}

#time {
	display: inline;
	padding-left: 20px;
}

@media only screen and (max-width: 480px) {
	.date {
		display: none;
	}
}

.box-primary-nav-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #fff;
}

nav .box-primary-nav-trigger {
    position: absolute;
    right: 10px;
    top: 120px;
	line-height:0;
}

nav .box-primary-nav-trigger .box-menu-text {
	margin-top:10px;
	margin-right:22px;
  
}

.box-primary-nav-trigger .box-menu-text {
	margin-top:2px;
    color: #979797;
    display: none;
}

.box-primary-nav-trigger .box-menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #979797;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    list-style: none;
}

.box-primary-nav-trigger .box-menu-icon::before,
.box-primary-nav-trigger .box-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #979797;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
}

.box-primary-nav-trigger .box-menu-icon::before {
    top: -5px;
}

.box-primary-nav-trigger .box-menu-icon::after {
    top: 5px;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: 393939;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.box-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 10px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box-primary-nav-trigger .box-menu-text {
    display: inline-block;
}

.box-primary-nav-trigger .box-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}

.box-primary-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    list-style: none;
}

.box-primary-nav li {
	font-family:'Avant Garde Book', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: .1em 0;
}

.box-primary-nav img {
	width:73px;
	margin-bottom: 25px;
}

.box-primary-nav a {
    display: inline-block;
    padding: .4em 1em;
    border-radius: 0.25em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    text-decoration: none;
}
.box-primary-nav a:focus {
    outline: none;
}

.no-touch .box-primary-nav a:hover {
    text-decoration: none;
    color: #c9b779;
}

.box-primary-nav .box-label {
	font-family:'ARS Maquette Black', Arial, Helvetica, sans-serif;
    color: #ab0921;
    text-transform: uppercase;
    font-size: 20px;
    margin: 2.4em 0 .8em;
}

.box-primary-nav .box-social {
    display: inline-block;
    margin: 10px .4em;
}

.box-primary-nav .box-social a {
    width: 26px;
    height: 26px;
    padding: 0;
    font-size: 26px;
	color:  #c9b779;
}

.box-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.box-primary-nav {
    padding: 150px 0 0;
}

.box-primary-nav li {
    font-size: 18px;
}


/* Intro section
==================================================*/

.container-fluid {
	padding-right:0;
	padding-left:0;
}

.box-intro {
    text-align: center;
    display: table;
	margin-top:160px;
    width: 100%;
}


/* Block section
==================================================*/

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #ffbf00;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 16px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #ffbf00;
    padding: 5px 20px;
    border-radius: 25px;
    color: #333;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}


/* Footer
==================================================*/

footer {
	display: inline-block;
	width:100%;
    padding: 30px 0;
    background: #f5f5f5;
	position:absolute;
}

.copyright {
    color: #ccc;
    margin: 0 auto;
	float: left;
	position: relative;
	padding-top:5px;
	font-size: 10px;
}



/* Back to top
==================================================*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    line-height: 40px;
    font-size: 20px;
    right: 10px;
    text-align: center;
    color: #fff;
    background: rgba(201, 183, 121, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cd-top:hover,
.no-touch .cd-top:focus {
    background-color: #c9b779;
    opacity: 1;
    color: #fff;
}


/* Join page
==================================================*/

.top-bar {
    margin-top:160px;
    width: 100%;
    padding: 55px 0 55px 0;
    background: url("../img/transtar-topbar.png");
    background-size: 485px;
    background-position: top center;
	background-repeat: no-repeat;
	background-color: #c9b779;
    text-align: center;
}

.top-bar h1 {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 18px 0 0 0;
	text-align: center;
}

.top-bar p {
    font-size: 29px;
    color: #fff;
	line-height:32px;
	padding:10px 0 0 0;
}

.top-bar-text {
	width:710px;
	margin: 0 auto;
}
	
@media only screen and (max-width: 768px) {
	.top-bar {
		background-size: 400px;
	}

	.top-bar-text {
		width:432px;
	}
	
	.top-bar h1 {
 		font-size: 40px;
		padding:12px 0 0 0;
	}

	.top-bar p {
    	font-size: 17px;
    	color: #fff;
		line-height:20px;
		padding:5px 0 0 0;
	}
}

@media only screen and (max-width: 480px) {
	.top-bar {
		background-size: 325px;
	 	padding: 35px 0 35px 0;
	}

	.top-bar-text {
		width:280px;
	}

	.top-bar h1 {
		font-size: 26px;
		padding:8px 0 0 0;
	}

	.top-bar p {
    	font-size: 14px;
    	color: #fff;
		line-height:20px;
		padding:5px 0 0 0;
	}
}

.join-intro h2 {
	padding-bottom:10px;
}
	
.join-intro p {
	font-size: 14px;
	color: #000;
}
	
.join-intro .btn-style {
	font-family:'Avant Garde Medium', Arial, Helvetica, sans-serif;
    background: #c9b779;
    padding: 7px 10px 2px 10px;
    border-radius: 0;
    color: #fff;
    margin-top: 20px;
	font-size: 18px;
}

.join-intro .btn-style:hover,
.join-intro .btn-style:focus {
    background: #7b6a36;
	color: #fff;
}

.competition {
	background-color: #c9b779;
	padding: 5px 15px 25px 15px;
}

.competition h2 {
	border-bottom: 1px solid white;
	margin-left: 10px;
}

@media only screen and (max-width: 768px) {
	.competition h2 {
		font-size: 35px;
		width: 97%;
		margin-right: 10px;
	}
	
	.congrats .desc {
		width:200px;
	}
}	

.competition h2 , .competition p, label {
	text-align: left;
	color: #fff;
	font-weight: normal;
}

.competition p, .competition span {
	font-size: 14px;
}
	
.competition a {
	color: #fff;
	text-decoration: underline;
}
		
.competition img {
	width:90%;
	margin: auto;
}
			
.competition .btn-style {
	font-family:'Avant Garde Medium', Arial, Helvetica, sans-serif;
    background: #7b6a36;
    padding: 7px 10px 2px 10px;
    border-radius: 0;
    color: #fff;
	font-size: 18px;
}

.competition .btn-style:hover,
.competition .btn-style:focus {
    background: #5d4e22;
	color: #fff;
}

.form-control {
	color: #000;
	background-color: #e4dbbc;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}


/* Article page
==================================================*/

.article h3 {
	color: #000;
}
	
.article p {
	font-size: 14px;
	color: #000;
}

.article img {
	margin:20px 0 30px 0;
}
	
.article1-top-bar-text {
	width:450px;
	margin: 0 auto;
}
	
@media only screen and (max-width: 768px) {
	.article1-top-bar-text {
		width:267px;
	}
}

@media only screen and (max-width: 480px) {
	.article1-top-bar-text {
		width:220px;
	}
}


/* Responsive media queries
==================================================*/

@media only screen and (max-width: 992px) {
	.portfolio .categories-grid span {
		margin-bottom: 0;
 		text-align: center;
  		width: 100%;
	}
	
	.portfolio .categories-grid .categories ul li {
  		text-align: center;
	}
	
	.portfolio .categories-grid .categories ul li a {
		margin-left: 0;
	}
	
	.col-md-6 h3 {
		margin-top: 30px;
	}
}

@media only screen and (max-width: 480px) {
	.box-primary-nav li {
		font-size: 14px;
	}

	.box-primary-nav .box-social a {
		font-size: 23px;
	}
}


/* Weather
==================================================*/

@font-face {
    font-family: weather;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/artill_clean_icons-webfont.eot");
    src: url("../fonts/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/artill_clean_icons-webfont.woff2") format("woff2"), url("../fonts/artill_clean_icons-webfont.woff") format("woff"), url("../fonts/artill_clean_icons-webfont.ttf") format("truetype")
}

#weather {
  float:right;
  text-align: right;
  text-transform: uppercase;
  display: inline;
	padding-left: 20px;
}

#weather i {
  color: #999;
  font-family: 'weather';
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: -21px 0 8px;
  color: #999;
  font-size: 16px;
  text-align: center;
}

.location {
	top:0;
	right:150px;
	position: absolute;
	text-align:right;
	float:right;
	padding: 32px 0 0 0;
}

@media only screen and (max-width: 768px) {
	.location {
		display: none;
	}
}

/* Modal
==================================================*/

#terms {
	z-index: 9999;
}

@media only screen and (min-width: 768px) {
	.modal-dialog {
		width:748px;
		margin: 10px auto;
	}
}

.modal-close {
    cursor: pointer;
    position: fixed;
    right: 16px;
	top:11px;
    width: 20px;
    height: 20px;
    padding: 0px;
}

.modal-content {
	margin: 0 auto;
  	position: relative;
  	background-color: #eee;
}
.modal-backdrop {
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 8888;
  	background-color: rgba(0,0,0,.9);
}
.modal-backdrop.fade {
  	filter: alpha(opacity=0);
  	opacity: 0;
}
.modal-backdrop.in {
  	filter: alpha(opacity=100);
  	opacity: 1;
}
.modal-header {
  	min-height: 16.42857143px;
  	padding: 20px;
  	border-bottom: none;
}
.modal-title {
	font-size: 16px;
	-webkit-font-smoothing: subpixel-antialiased;
  	margin: 0 auto;
	line-height:26px;
	text-align:center;
	margin-top: 0px;
}
.modal-body {
	font-size: 10px;
	-webkit-font-smoothing: subpixel-antialiased;
  	position: relative;
  	padding: 0px 25px;
}
.modal-footer {
  	padding: 5px 20px 20px 20px;
  	text-align: center;
  	border-top: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* Bootstrap overrides
==================================================*/

.embed-responsive-16by9 {
    padding-bottom: 52.1%;
}


footer {
    padding: 30px 0;
    text-align: center;
    background: #f5f5f5
}

footer img {
    margin: 0 auto;
}

/* Ziff Davis Footer
==================================================*/

footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-right: 1em;
    color: #fff;
    position:absolute;
}
.ziffdavis-footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #181818;
}
.ziffdavis-footer img {
    display: block;
    margin: -5px 0 5px 0;
    width: 100px;
}
footer ul {
    display: inline;
    margin: 0;
    padding: 0;
    font-size:8px;
}
footer li {
    display: inline;
}
footer li::before {
    content: '';
}
footer li::after {
    content: ' | ';
    white-space: normal;
    word-spacing: 0.5em;
}
footer li:last-child:after {
    content: "";
}
footer p {
    font-size: 10px;
    margin-bottom: 15px;
}
footer a {
    white-space: nowrap;
    display: inline-block;
    color: #fff;
    font-size: 10px;
}
footer a:visited {
    color: #fff;
}
footer a:hover {
    text-decoration: underline;
    color: #fff;
}