
<!-- Lightbox -->
<script type="text/javascript" src="venobox/venobox.min.js?v=123"></script>
<script>
$(document).ready(function(){
        $('.venobox').venobox({
     
        border: '',         // default: '0'
        bgcolor: '',        // default: '#fff'
        numeratio: false,   // default: false
        infinigall: true    // default: false
    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96959160-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>