        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">MENU</span><span class="box-menu-icon"></span>
            </a>
            <img src="img/transtar-logo-nav.png" width="73" alt="TranStar">
                <li class="grey">WELCOME</li>
                <li><a class="venobox" data-vbtype="youtube" href="http://youtu.be/6WayqYxQeDE" data-autoplay="true">OUR HISTORY</a></li>
                <li><a href="join.php" onclick="_gaq.push(['_trackEvent', 'Nav - Join Transtar Link']);" >JOIN TRANSTAR</a></li>
                <li><a href="the-new-you.php" onclick="_gaq.push(['_trackEvent', 'Nav - The New You Link']);">THE TALOS 1 INNOVATION CENTRE</a></li>
                <!--OMITTED <li><a href="the-typhon.php" onclick="_gaq.push(['_trackEvent', 'Nav - The Typhon Link']);">THE TYPHON</a></li> END OMITTED-->
                <li><a href="your-talos-1.php" onclick="_gaq.push(['_trackEvent', 'Nav - Your Talos 1 Link']);">YOUR TALOS 1</a></li>
                <li><a href="img/gallery/8.jpg" class="venobox" onclick="_gaq.push(['_trackEvent', 'Nav - Gallery Link']);" data-gall="gallery-images">GALLERY</a></li>
                <li><a data-vbtype="youtube" href="http://youtu.be/0bXrrYK23jE" data-autoplay="true" onclick="_gaq.push(['_trackEvent', 'Nav - Video Link']);" class="venobox" data-gall="gallery-videos">VIDEO</a></li>
                <li><a href="https://prey.bethesda.net" target="_blank" onclick="_gaq.push(['_trackEvent', 'Nav - Bethesda Prey Link']);">PREY</a></li>

                <li class="box-social"><a href="https://www.facebook.com/prey" onclick="_gaq.push(['_trackEvent', 'Nav - Prey Facebook Link']);" target="_blank"><i class="ion-social-facebook"></i></a></li>
                <li class="box-social"><a href="https://twitter.com/preygame" onclick="_gaq.push(['_trackEvent', 'Nav - Prey Twitter Link']);" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li class="box-social"><a href="https://www.instagram.com/preygame" onclick="_gaq.push(['_trackEvent', 'Nav - Prey Instagram Link']);" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
            </ul>
        </nav>
        <!-- end nav -->